<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="market2.My.MySettings.dbmarketConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;E:\save databese\dbmarket.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="market2.My.MySettings.dbmarketConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\dbmarket.accdb"
            providerName="System.Data.OleDb" />
        <add name="market2.My.MySettings.marketdbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\marketdb.accdb"
            providerName="System.Data.OleDb" />
        <add name="market2.My.MySettings.DatabasemarketConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Databasemarket.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>